<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hello, system! This is My CICD Pipeline test #8</h1> -->
    <div class="container">
        <div class="card">
          <h2>Sign Up</h2>
          <form>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
      
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
      
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
</body>
</html>
